---
title: 'Best UX Books to read'
date: '2022-10-07'
categories:
    - 'tips'
---

<script>
    import Image from '$lib/components/Common/Image.svelte';
    import uxBooks from '$blogImages/uxBooks.jpeg';
</script>

## Roadmap

<Image src={uxBooks} alt="UX Books to read" imagePreset="scroll"  />