---
title: The math of border-radius
date: 2023-05-23
categories:
    - frontend
    - ui
---

## The calculation

```
innerRadius = outerRadius - gap 
```

## CSS

```css
--outer-radius: 1em;
--padding: 0.5em;
--inner-radius: calc(var(--outer-radius) - var(--padding));
```





