---
title: 'Free Icons for your UI/UX Design'
date: '2023-02-08'
categories:
    - 'freebies'
---

## Free Icons

- [Icons8](https://icons8.com)
- [Iconsax](https://iconsax.io)
- [Iconly 2.5 FigmaCommunity]()
- [IconScout](https://icon-scout.com/free-icons)
- [Flaticon](https://flaticon.com)
- [Iconbros](https://www.iconbros.com/) - 21,000+ Free icons for you!
- [Thenounproject](https://thenounproject.com/) - Free Icons and Photos for everything.
- [Google Icons](https://fonts.google.com/icons?selected=Material+Icons) - Find 2,500 web optimized icons from google.
- [Feather icons](https://feathericons.com) - Beautiful open source icons.
- [Iconoir](https://iconoir.com) - My Favourite Icon library with no-upsell offers. Just Icons!











