---
title: Free platforms you need for your next project
date: 2023-1-22
categories:
    - freebies
---


## Free illustrations

- [Undraw](https://undraw.co) - Open-source illustrations for your next project.

- [Open Peeps](https://www.openpeeps.com) - A hand-drawn illustration library

- [Blush Design](https://blush.design/) - Find well designed free illustrations.

- [Icons8](https://icons8.com/) - Find free ilustrations and icons + much more at one place.

- [storyset](https://storyset.com/) - cute

## Free Icons

- [Iconbros](https://www.iconbros.com/) - 21,000+ Free icons for you!

- [Thenounproject](https://thenounproject.com/) - Free Icons and Photos for everything.

- [Google Icons](https://fonts.google.com/icons?selected=Material+Icons) - Find 2,500 web optimized icons from google.

- [Feather icons](https://feathericons.com) - Beautiful open source icons.

- [Iconoir](https://iconoir.com) - My Favourite Icon library with no-upsell offers. Just Icons!

## Stock Images & Videos:

- [Unsplash](https://unsplash.com) - Find millions of free images att one place.

- [Pexels](https://www.pexels.com) - The best free stock photos and videos curated for you.

- [Videovo](https://www.videvo.net) - Find free stock video footage and templates.

- [Pixabay](https://pixabay.com) - Find royalty free images taht you didn't find on unsplash.

- [Mixkit](https://mixkit.co) - New free resource for high-quality stock videos.

- [RawPixel](https://www.rawpixel.com)

## Background removers & Image optimizers:

- [remove.bg](https://remove.bg/) - Remove the background of your images.

- [Unscreen](https://www.unscreen.com) - Remove background of your videos.

- [Tinypng](https://tinypng.com) - Optimize your images for website and SEO.

- [Adobe background remover](https://www.adobe.com/express/feature/image/remove-background) - Adobe's free background removal tool for your images.

## Inspiration resources for entrepreneurs:

- [Designmunk](https://designmunk.com/) - A free library of landing page examples for inspiration.

- [swiped.co](https://swiped.co/) - Find swipe-worthy Marketing and copywriting examples.

- [reallygoodemails](https://reallygoodemails.com) - Find email marketing examples for next campaign inspiration.

- [Facebook Ads library](https://www.facebook.com/ads/library/) - Fo Ad campaign research and inspiration

- [awwwards](https://www.awwwards.com/) - Home of Website design inspiration

- [Greatlandingapgecopy](https://greatlandingpagecopy.com/) - Another resource for landing page design inspiration.

- [Marketing Examples](https://marketingexamples.com) - Find marketing and copywriting inspiration for next campaign.

## Other:

- [Avataaars Generator](https://getavataaars.com) - Generate avatars for your customer support and web projects.

- [My color space](https://mycolor.space) - Just enter a color and generate gradients.

- [Influence Grid](https://influencegrid.com) - Find Tiktok Influencers for your influencer marketing campaign.

- [Tweetagram](https://www.bannerbear.com/demos/tweetagram) - Turn Your tweets into Instagram posts.

- [Colorhub](https://colorhub.vercel.app) - Find perfect color palette for your next project

## AI

- [StockAI](https://www.stockai.com)

- [Craiyon](https://www.craiyon.com) - generate images from text
