---
title: Inspiration
date: 2023-02-08
categories:
    - freebies
---

## Inspiration resources for entrepreneurs:

- [Designmunk](https://designmunk.com/) - A free library of landing page examples for inspiration.
- [swiped.co](https://swiped.co/) - Find swipe-worthy Marketing and copywriting examples.
- [reallygoodemails](https://reallygoodemails.com) - Find email marketing examples for next campaign inspiration.
- [Facebook Ads library](https://www.facebook.com/ads/library/) - Fo Ad campaign research and inspiration
- [awwwards](https://www.awwwards.com/) - Home of Website design inspiration
- [Greatlandingapgecopy](https://greatlandingpagecopy.com/) - Another resource for landing page design inspiration.
- [Marketing Examples](https://marketingexamples.com) - Find marketing and copywriting inspiration for next campaign.