---
title: 'Where to get mockups'
date: '2022-12-11'
categories:
    - 'freebies'
---

## Mockups

[Previewed.app](https://previewed.app/)

[ls.graphics](https://www.ls.graphics/)

[Placeit.net](https://www.placeit.net)










