---
title: You hate email spammers? Time for revenge
date: 2024-07-11
categories:
    - misc
---

## Revenge against email spammers

Enact revenge against those who send unwanted emails by automatically retargeting them with 100 spam subscriptions.
Use responsibly: only intended to attack cold-email marketers.

https://youvegotspam.mschfmag.com/