@layer global, elements, components, utilities;

@import url('reset.css');
@import url('typography.css');
@import url('spacing.css');
@import url('color.css');
@import url('animation.css');
@import url('other.css');

:root {
	text-underline-offset: 4px;
}

html {
	scroll-padding: var(--scroll-padding, 60px);
	scroll-behavior: smooth;
	overflow-x: hidden;
	max-width: 100vw;
	min-height: 101vh;
	color: var(--color-text);
	scrollbar-gutter: stable;
}

ul {
	list-style-type: none;
	padding: 0;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	/* RESPONSIVE */

	max-width: 100%;
	height: auto;

	&:hover {
		filter: brightness(1) contrast(1);
	}
}

[color-scheme='dark'] img {
	filter: brightness(0.8) contrast(1.2);
}

address {
	font-style: inherit;
}

section {
	max-width: 100%;
	margin-bottom: calc(var(--space-3xl) * 2);
}

svg {
	flex: none;
}

.icon {
	transition: var(--transition);
	filter: drop-shadow(0px 0px 10px currentColor);
	flex: none;
}

*:hover > .icon {
	color: inherit;
}

.social__address:hover svg {
	color: var(--color-primary);
}

[contenteditable] {
	outline: 0px solid transparent;
}

label:has(+ input:focus),
label:has(+ textarea:focus) {
	color: var(--color-primary-active);
}

.full-width {
	width: 100vw;
	margin-left: calc(50% - 50vw);
}

.link {
	color: var(--color-primary);
	transition: var(--transition);
}

.link:hover {
	color: var(--color-primary-hover);
	text-decoration: underline;
	text-underline-offset: 2px;
}

/* Experimental CSS */
textarea {
	form-sizing: normal;
}

.obf {
	display: none;
	overflow: hidden;
	width: 0;
}

/* View transition */

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}



.fancy-border:before {
	content: '';
	position: absolute;
	border-image: url(/images/fancy-border.svg);
	border-image-width: 24px;
	border-image-repeat: repeat;
	border-image-slice: 50 50 50 50 fill;

	top: -3px;
	right: -3px;
	bottom: -3px;
	left: -3px;
	border-style: solid;
	pointer-events: none;

	opacity: 0;
	z-index: 3;
	transition: var(--transition);
	filter: invert(1);
}

[color-scheme='light'] .fancy-border:before {
	filter: none;
}

.fancy-border:hover::before {
	opacity: 0.5;
	overflow: visible;
}

.text-trim {
	text-box: trim-both cap alphabetic;
}

.tooltip {
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 8px 16px;
	border-radius: 100px;
	font-size: 14px;
	pointer-events: none;
	z-index: 9999;
	transform-origin: center center;
}

.tooltip p {
	margin: 0;
	white-space: nowrap;
}

.tooltip::after {
	content: '';
	position: absolute;
	border: 6px solid transparent;
}

.tooltip-top::after {
	border-top-color: rgba(0, 0, 0, 0.8);
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.tooltip-bottom::after {
	border-bottom-color: rgba(0, 0, 0, 0.8);
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.tooltip-left::after {
	border-left-color: rgba(0, 0, 0, 0.8);
	right: -12px;
	top: 50%;
	transform: translateY(-50%);
}

.tooltip-right::after {
	border-right-color: rgba(0, 0, 0, 0.8);
	left: -12px;
	top: 50%;
	transform: translateY(-50%);
}
