:root {
	--borderRadius: 16px;
	--borderRadiusLight: calc(var(--borderRadius) / 2);
	--borderRadiusSM: calc(var(--borderRadiusLight) / 2);
	--transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

	--zIndexMax: 99;

	--cursorDefault: url('/cursor/default.svg'), auto;
	--cursorPointer: url('/cursor/pointer.svg'), auto;
	--cursorText: url('/cursor/text.svg'), auto;
}

/* -------------------------------- Nprogress START */
#nprogress .bar {
	background: var(--colorPrimary) !important;
	height: 3px !important;
}

#nprogress .peg {
	box-shadow:
		0 0 10px var(--colorPrimary),
		0 0 5px var(--colorPrimary) !important;
}

#nprogress .spinner-icon {
	width: 24px !important;
	height: 24px !important;
	border-top-color: var(--colorPrimary) !important;
	border-left-color: var(--colorPrimary) !important;
}

#nprogress .spinner {
	top: 20px !important;
	right: 20px !important;
}

/* -------------------------------- Nprogress END  */

.btn svg {
	margin-right: 4px;
}

@keyframes scale {
	to {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0;
	}
}

.svelte-lightbox-footer h2 {
	font-size: var(--fontSizeSmall);
}

/* INPUT RANGE */

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
	width: 300px;
	height: 16px;
	outline: 1px solid var(--colorBorderSecondary);
	border: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	background: var(--colorPrimary);
}

input[type='range']:focus {
	outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
	background: var(--colorBgElevated);
}

.splide {
	border: 1px solid var(--colorBorder);
	border-radius: var(--borderRadius);
}

::-webkit-scrollbar {
	width: 16px;
	outline: 1px solid var(--colorTextQuaternary);
}

::-webkit-scrollbar-thumb {
	background: var(--colorPrimary);
	box-shadow:
		inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
		inset -2px -2px 2px rgba(0, 0, 0, 0.25);
	border-radius: var(--borderRadius);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--colorPrimaryHover);
}

::-webkit-scrollbar-thumb:active {
	background: var(--colorPrimaryActive);
}

::-webkit-scrollbar-track {
	background: transparent;
}

/* .skew {
	--angle: -3deg;
	--unskew: rotate(calc(var(--angle) * -1)) skew(calc(var(--angle) * -1));
	-webkit-transform: rotate(var(--angle)) skew(var(--angle));
	transform: rotate(var(--angle)) skew(var(--angle));
} */

.kagura-border {
	position: relative;
	overflow: hidden;
	border-radius: 0 !important;
}

.kagura-border:before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	border: 12px solid transparent;
	border-image: url('/images/tech-border.svg') 30 stretch;

	/* SIZE */
	width: 100%;
	height: 100%;
	

	z-index: var(--zIndexMax);
	pointer-events: none;
}
