.c-splash {
	--animation-in-duration: 500ms;
	--animation-out-duration: 500ms;

	position: fixed;
	z-index: 9999;
	inset: 0;

	display: flex;
	flex-direction: column;
	pointer-events: none;
	overflow: hidden;

	align-items: center;
	justify-content: center;

	animation-name: slide-out-bck-center;

	animation-duration: calc(var(--animation-out-duration) * 0.6);
	animation-play-state: running;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	animation-delay: calc(var(--animation-in-duration) + var(--animation-out-duration) * 0.4);

	background-color: var(--color-bg-layout);

	&[data-splash-skip='true'] {
		display: none;
	}

	& .__logoWrapper {
		position: relative;
		animation-play-state: inherit;
	}
}

.c-splash::before {
	content: '';
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url('/images/castle.avif');
	filter: brightness(0.15);
}

.c-splash__deco {
	font-size: var(--font-size-base);
	color: var(--color-text-secondary);
}

.c-splash__name {
	font-family: var(--font-fancy);
	font-size: var(--font-size-xl);
	margin-bottom: var(--space-small);
	color: var(--color-text-secondary);
}

@keyframes slide-out-bck-center {
	0% {
		transform: translateZ(0);
		opacity: 1;
	}
	100% {
		transform: translateZ(-1100px);
		opacity: 0;
	}
}
