@font-face {
	font-family: 'Canela';
	font-display: swap;
	font-style: normal;
	src: url('/fonts/CanelaDeck-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-style: normal;
	src: url('/fonts/inter-300.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-style: normal;
	src: url('/fonts/inter-400.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-style: normal;
	src: url('/fonts/inter-500.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Inter';
	font-display: swap;
	font-style: normal;
	src: url('/fonts/inter-600.woff2') format('woff2');
	font-weight: 600;
}

pre code {
	font-feature-settings: normal;
}

.balance {
	text-wrap: balance;
}

:root {
	--fontNormal: 'Inter', 'Inter override';
	--fontFancy: 'Canela', 'Canela override';

	/* FONT SIZE */
	--fontSizeXS: clamp(0.9rem, calc(0.9rem + -0.05vw), 0.92rem);
	--fontSizeSmall: clamp(1rem, calc(1rem + 0.07vw), 1rem);
	--fontSizeBase: clamp(1.06rem, calc(1.01rem + 0.25vw), 1.25rem);
	--fontSizeMid: clamp(1.28rem, calc(1.17rem + 0.53vw), 1.67rem);
	--fontSizeLarge: clamp(1.53rem, calc(1.34rem + 0.94vw), 2.22rem);
	--fontSizeXL: clamp(1.84rem, calc(1.53rem + 1.52vw), 2.96rem);
	--fontSize2XL: clamp(2.2rem, calc(1.73rem + 2.36vw), 3.95rem);
	--fontSize3XL: clamp(2.64rem, calc(1.93rem + 3.55vw), 5.26rem);

	/* LINE HEIGHT */
	--lineHeightXS: 160%;
	--lineHeightSmall: 160%;
	--lineHeightBase: 160%;
	--lineHeightMid: 120%;
	--lineHeightLarge: 120%;
	--lineHeightXL: 120%;
	--lineHeight2XL: 120%;
	--lineHeight3XL: 120%;
}

/* @supports (font-variation-settings: normal) {
	body {
		font-feature-settings: 'calt', 'tnum', 'frac', 'case', 'ccmp', 'ss02' 0, 'ss03' 0, 'ordn',
			'cpsp', 'zero';
	}
} */

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: var(--fontNormal);
	font-weight: var(--fontWeightSmall);

}

.text-xs {
	font-size: var(--fontSizeXS);
	line-height: var(--lineHeightXS);
	/* letter-spacing: -0.006em; */
}

.text-small {
	font-size: var(--fontSizeSmall);
	line-height: var(--lineHeightSmall);
	/* letter-spacing: -0.011em; */
}

.text-base {
	font-size: var(--fontSizeBase);
	line-height: var(--lineHeightBase);
	letter-spacing: -0.017em;
}

.text-mid {
	font-size: var(--fontSizeMid);
	line-height: var(--lineHeightMid);
	letter-spacing: -0.02em;
}

.text-large {
	font-size: var(--fontSizeLarge);
	line-height: var(--lineHeightLarge);
	letter-spacing: -0.021em;
}

.text-xl {
	font-size: var(--fontSizeXL);
	line-height: var(--lineHeightXL);
	letter-spacing: -0.022em;
}

.text-2xl {
	font-size: var(--fontSize2XL);
	line-height: var(--lineHeight2XL);
	letter-spacing: -0.022em;
}

.text-3xl {
	font-size: var(--fontSize3XL);
	line-height: var(--lineHeight3XL);
	letter-spacing: -0.022em;
}

/* LETTER SPACING TABLE */
/* 6	0.043
	7	0.032
	8	0.024
	9	0.016
	10	0.01
	11	0.005
	12	0
	13	-0.0025
	14	-0.006
	15	-0.009
	16	-0.011
	17	-0.013
	18	-0.014
	20	-0.017
	24	-0.019
	30	-0.021
	40	-0.022
	80	-0.022 */
[color-scheme='dark'] {
	--fontWeightXS: 300;
	--fontWeightSmall: 400;
	--fontWeightMid: 500;
	--fontWeightLarge: 600;
}

[color-scheme='light'] {
	--fontWeightXS: 400;
	--fontWeightSmall: 400;
	--fontWeightMid: 500;
	--fontWeightLarge: 600;
}
