@font-face {
	font-family: 'Chakra';
	font-display: swap;
	font-style: normal;
	src: url($lib/fonts/chakra.woff2) format('woff2');
}

/* @font-face {
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

@font-face {
	font-family: 'InterVariable';
	font-style: normal;
	font-weight: 300 600;
	font-display: swap;
	src: url('$lib/fonts/InterVariable.woff2') format('woff2');
}

pre code {
	font-feature-settings: normal;
}

@font-face {
	font-family: 'Inter-fallback';
	size-adjust: 107%;
	ascent-override: 90%;
	src: local('Arial');
}

@font-face {
	font-family: 'Chakra Petch-fallback';
	size-adjust: 102.69%;
	ascent-override: 101%;
	src: local('Arial');
}

:root {
	--font-normal: 'InterVariable', 'Inter-fallback';
	--font-fancy: 'Chakra', 'Chakra Petch-fallback';

	/* FONT SIZE */
	--font-size-xs: clamp(0.9rem, calc(0.9rem + -0.05vw), 0.92rem);
	--font-size-small: clamp(1rem, calc(1rem + 0.07vw), 1rem);
	--font-size-base: clamp(1.06rem, calc(1.01rem + 0.25vw), 1.25rem);
	--font-size-mid: clamp(1.28rem, calc(1.17rem + 0.53vw), 1.67rem);
	--font-size-large: clamp(1.53rem, calc(1.34rem + 0.94vw), 2.22rem);
	--font-size-xl: clamp(1.84rem, calc(1.53rem + 1.52vw), 2.96rem);
	--font-size-2xl: clamp(2.2rem, calc(1.73rem + 2.36vw), 3.95rem);
	--font-size-3xl: clamp(2.64rem, calc(1.93rem + 3.55vw), 5.26rem);

	/* LINE HEIGHT */
	--line-height-xs: 1.8;
	--line-height-small: 1.8;
	--line-height-base: 1.6;
	--line-height-mid: 1.6;
	--line-height-large: 1.2;
	--line-height-xl: 1.2;
	--line-height-2xl: 1.1;
	--line-height-3xl: 1.1;

	--tracking-tighter: -0.05em;
	--tracking-tight: -0.025em;
	--tracking-normal: 0em;
	--tracking-wide: 0.025em;
	--tracking-wider: 0.05em;
	--tracking-widest: 0.1em;

	font-variant-ligatures: normal;

	font-variant-numeric: tabular-nums;
}

/* @supports (font-variation-settings: normal) {
	body {
		font-feature-settings: 'calt', 'tnum', 'frac', 'case', 'ccmp', 'ss02' 0, 'ss03' 0, 'ordn',
			'cpsp', 'zero';
	}
} */

.balance {
	text-wrap: balance;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-normal);
	font-weight: var(--fontWeightSmall);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	font-feature-settings:
		'liga' 1,
		'calt' 1,
		'tnum' 1,
		'frac' 1,
		'case' 1;
}

.text-xs {
	font-size: var(--font-size-xs);
	line-height: var(--line-height-xs);
	/* letter-spacing: -0.006em; */
}

.text-small {
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	/* letter-spacing: -0.011em; */
}

.text-base {
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	letter-spacing: -0.017em;
}

.text-mid {
	font-size: var(--font-size-mid);
	line-height: var(--line-height-mid);
	letter-spacing: -0.02em;
}

.text-large {
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
	letter-spacing: -0.021em;
}

.text-xl {
	font-size: var(--font-size-xl);
	line-height: var(--line-height-xl);
	letter-spacing: -0.022em;
}

.text-2xl {
	font-size: var(--font-size-2xl);
	line-height: var(--line-height-2xl);
	letter-spacing: -0.022em;
}

.text-3xl {
	font-size: var(--font-size-3xl);
	line-height: var(--line-height-3xl);
	letter-spacing: -0.022em;
}

strong {
	font-weight: 600;
	color: var(--color-primary);
}

/* LETTER SPACING TABLE */
/* 6	0.043
	7	0.032
	8	0.024
	9	0.016
	10	0.01
	11	0.005
	12	0
	13	-0.0025
	14	-0.006
	15	-0.009
	16	-0.011
	17	-0.013
	18	-0.014
	20	-0.017
	24	-0.019
	30	-0.021
	40	-0.022
	80	-0.022 */
[color-scheme='dark'] {
	--fontWeightXS: 300;
	--fontWeightSmall: 400;
	--fontWeightMid: 500;
	--fontWeightLarge: 600;
}

[color-scheme='light'] {
	--fontWeightXS: 400;
	--fontWeightSmall: 400;
	--fontWeightMid: 500;
	--fontWeightLarge: 600;
}
