.markdown 
{
	word-wrap: break-word;
}

.markdown h1 
{
	font-family: 'Recoleta Alt';
	color: var(--neutral-900);
	font-weight: 600;
	background-image: url('/images/noise2.svg');
	line-height: normal;
}


.markdown h2 {

	position: relative;
	padding-bottom: 0.7rem;
	color:var(--primary-900);
	font-size: var(--font-size-large);
	line-height: var(--line-height-large);
	font-weight: 600;
	scroll-margin-top: 80px ;
	/* Spacing */
	margin-top: var(--space-2xl) !important;
	margin-bottom: var(--space-s) !important;
	font-family: "Recoleta Alt";
}

.markdown h2:before, .markdown h3:before , .markdown h4:before
{
	content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 2px;
    width: 100%;
    height: 10px;
    background-color: var(--brand-color);
    clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

.markdown h3:before 
{
	clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
	 
}



.markdown h3 {
	padding-bottom: 0.7rem;
	position: relative;
	font-weight: 600;
	color:var(--brand-color);
	font-size: var(--font-size-mid);
	line-height: var(--line-height-mid);

	/* Spacing */
	margin-top: var(--space-xl);
	margin-bottom: var(--space-xs);
}

.markdown h4 
{
	padding-bottom: 0.7rem;
	position: relative;
	color:var(--brand-color);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	font-weight: 500;
	/* Spacing */
	margin-top: var(--space-l);
	margin-bottom: var(--space-xs);
	width: fit-content;
}

.markdown h4:before 
{
	clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}



.markdown p, .markdown li {
	color: var(--primary-900);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin:  0;
	margin-bottom: var(--space-s);
	max-width: 60ch; 
	
}



.markdown a 
{
	color: var(--accent-600) !important;
	font-weight: 600;
	background-color: var(--accent-100);
	padding: 4px 8px;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
}

.markdown a:hover 
{
	color: var(--accent-700) !important;
	border: 1px solid var(--accent-500);
}


.markdown img {
	display:block;
	width: 100%;
	border: 1px solid var(--neutral-500);
	border-radius: var(--border-radius);
	margin-bottom: var(--space-m);
}

@media (min-width: 768px) {
	.markdown img {
		max-width: 600px;
	}
}

.markdown li {
	font-weight: 500;
}

.markdown li::before
{
	content: '◆';
	color: var(--neutral-900);
	margin-right: 4px;
}


.markdown ul
{
	margin-bottom: var(--space-s);
}

.markdown .swiper
{
	margin-bottom: var(--space-m);
}





