
:root 
{
	--brand-color: transparent;
}

.markdown h2 {
	
	border: transparent;
	padding: 4px 4px;
	margin-top: var(--space-l) !important;
	font-size: var(--font-size-mid);
	line-height: var(--line-height-mid);
	border-radius: 8px;

	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, var(--brand-color) 55%);
	
	
}

.markdown h3 {
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	color: var(--accent-900);
}

.markdown p {
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
}

.markdown a 
{
    color: var(--accent-500) !important;
}


.markdown img {
	width: 100%;
}

@media (min-width: 768px) {
	.markdown img {
		max-width: 600px;
	}
}
