---
title: 'Free Font Resources'
date: '2023-02-08'
categories:
    - 'freebies'
---

## The OG Google

- [Google Fonts](https://fonts.google.com)

## Others

- [Dafont](https://dafont.com)
- [Font Squirrel](https://fontsquirrel.com)
- [FontShare](https://fontshare.com)
- [Cufon Fonts](https://cufonfonts.com)
- [Font Space](https://fontspace.com)
- [Font Bundles](https://fontbundles.net/free-fonts)
- [Urban Fonts](https://urbanfonts.com)