---
title: Gemini Embeddings
date: 2025-12-02
categories:
    - ai
---

Before jumping into what Gemini can do in regards to embeddings, let's review: what are embeddings?

Embedding Definition: Embeddings are vectors (represented as lists of decimal point numbers) that represent words, documents, images, and even videos. They're a list of numbers so that machine learning models can easily process them. They can be used in a wide variety of tasks like document search, anomaly detection, and text classification.

The current latest Gemini embeddings model is text-embedding-004. Here's how we can embed the below sentence.


```
data = 'Hi there, this is Gemini tutorial!'

embed_data = genai.embed_content(
    model='models/text-embedding-004',
    content=data
)

print(embed_data['embedding'][:10])
```

Printing out part of the embedding, here's the output (note that by default, the embeddings have length 768, also called its dimensionality):

[0.058438968, 0.00044316906, -0.009973634, -0.016529616, 0.041487474, -0.013944049, 0.080064304, 0.055516902, -0.03406745, 0.046189807]


## Truncating Embeddings

To control the length and dimensionality of embeddings, we can also specify the output_dimensionality parameter.

embed_data = genai.embed_content(
    model='models/text-embedding-004',
    content='Below is how you truncate data!',
    output_dimensionality=10
)

print(len(embed_data['embedding']))
Output: 10

## Specifying Embeddings for Tasks

As we mentioned above, we can use embeddings specifically for tasks such as document retrieval. Here's an example of how we can do that.

data = 'Finally touching the grass!'

embed_data_1 = genai.embed_content(
    model='models/text-embedding-004',
    content=data
    # no `task_type` specification; defaults to `retrieval_query`
)

embed_data_2 = genai.embed_content(
    model='models/text-embedding-004',
    content=data,
    task_type='retrieval_document'
)

print(embed_data_1['embedding'][:10])
print(embed_data_2['embedding'][:10])

Output:

```
[-0.044086624, -0.017505981, -0.014579227, 0.013675352, -0.008016501, 0.025225215, -0.035069168, 0.034015447, 0.037304174, 0.007439849]
[-0.023972979, -0.019189887, -0.0222573, -0.012185102, 0.019129641, 0.035173632, -0.012367243, 0.016283926, 0.022629406, 0.014976865]```