---
title: General Health tips for men
date: 2023-11-16
categories:
    - health
---

## Hair

https://youtu.be/WxzfgRSBRMc?si=zOawk6i5wDYCRlsy

- Wrong washing 
- Washing too often: wash your hair 3 times a week, cold water is better
- Hot water: water damages your hair, remember that
- Make sure you use a water filter
- Aggressive Dry
- No Hair Mask
- Too much styling 
- Rare Haircut 
- Dirty Combs
- Bad Habits