---
title: MindX
date: 2023-07-12
categories:
    - archive
---

## Syllabus

[Link](https://docs.google.com/spreadsheets/d/1B89JcAG5kNirt8j8LCaJR0xSET3gQeED2YYOPex-cMI/edit?usp=sharing)

## 1

- ✔ Lesson 1: Đón đầu xu hướng
- ❌ Lesson 2
- ❌ Lesson 3
- ❌ Lesson 4
- ❌ Lesson 5
- ❌ Lesson 6
- ❌ Lesson 7
- ❌ Lesson 8
- ❌ Lesson 9
- ❌ Lesson 10
- ❌ Lesson 11
- ❌ Lesson 12

## 2

## 3