---
title: Swiss web design
date: 2024-09-08
categories:
    - frontend 
    - ui
    - ux
---

## The three principles

Rule 0: use sans-serif fonts

- Simple layout
- No BS Navigation (user dont need to dig for information) Less is more, form follows function.
- Efficient Swiss culture

## Website examples

- Notion
- Apple
- Google

## Other examples

- New York City Metro Line

## Reference

https://www.sciencedirect.com/science/article/abs/pii/S0020025521006629
https://www.pixeldarts.com/post/swiss-style-web-design-a-comprehensive-guide
https://www.bighuman.com/blog/guide-to-swiss-design-style
https://www.printmag.com/featured/swiss-style-principles-typefaces-designers/
https://www.bighuman.com/blog/graphic-design-styles-guide