---
title: UI Kits
date: 2022-11-09
categories:
    - ui
    - freebies
---

## IOS

[iOS 16 UI Kit by Joey Banks](https://www.figma.com/community/file/1121065701252736567)


## wireframe

[Bloo Lo-Fi Wireframe Kit](https://www.figma.com/community/file/960058803048298115)









