/* prism code highlighting theme */
@import url(prism.css);

.markdown {
	overflow-wrap: break-word;
	position: relative;
	counter-reset: h2-counter;
}

.markdown section {
	margin-top: var(--space-large);
	margin-bottom: var(--space-2xl);
}

.markdown h1 {
	font-family: var(--font-fancy);
	font-size: var(--font-size-2xl);
	line-height: var(--line-height-2xl);
	text-transform: capitalize;
	margin-bottom: var(--space-mid);
	color: var(--color-text);
	letter-spacing: var(--tracking-tight);
}

.markdown h2,
.markdown h3,
.markdown h4 {
	line-height: 120%;
	position: relative;
	color: var(--color-text);
	transition: var(--transition);
	font-family: var(--font-fancy);

	&:hover {
		color: var(--color-primary-hover);
	}

	&:active {
		color: var(--color-primary-active);
	}
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
	text-box: trim-both cap alphabetic;
}

.markdown h2:first-child {
	margin-top: 0 !important;
}

.markdown section:first-child {
	margin-top: 0 !important;
}

.markdown h2 {
	/* SPACING */
	margin-bottom: var(--space-mid);
	/* --- */
	position: relative;
	/* FONT */

	font-size: var(--font-size-xl);
	line-height: var(--line-height-large);
	/* --- */
}

.markdown h3 {
	/* SPACING */
	margin-top: var(--space-large);
	margin-bottom: var(--space-mid);
	/* --- */

	/* FONT */
	font-weight: var(--fontWeightLarge);
	font-size: var(--font-size-mid);
	line-height: var(--line-height-mid);
	/* --- */
}

.markdown h4 {
	/* SPACING */
	margin-top: var(--space-large);
	margin-bottom: var(--space-small);
	/* --- */

	/* FONT */
	font-weight: var(--fontWeightLarge);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	/* --- */
}

.markdown p,
.markdown li:not(.toc li) {
	color: var(--color-text);
	font-size: var(--font-size-small);
	line-height: var(--line-height-small);
	margin: 0;
	margin-bottom: var(--space-xs);
	max-width: var(--text-width);
}

.markdown ul {
	border-left: 2px solid transparent;
	border-image: linear-gradient(to bottom, var(--color-text), transparent) 1 1;
}

.markdown li:not(.toc li) {
	margin-bottom: 0;
	padding-left: 1ch;
	list-style-position: inside;
}

.markdown li::marker {
	/* content: counter(list-item) '. '; */

	content: '• ';
	color: var(--color-text);
	font-size: inherit;
	font-weight: var(--fontWeightLarge);
}

.toc li::marker {
	content: none;
}

.markdown
	p
	> a:not(
		.toc a,
		.markdown h2 a,
		.markdown h3 a,
		.markdown h4 a,
		.markdown h5 a,
		.markdown a:has(img)
	) {
	color: var(--color-info);
	text-decoration: underline;
	transition: var(--transition);
	/* text-decoration-skip-ink: none; */

	&:hover {
		color: var(--color-info-hover);
	}

	&:active {
		color: var(--color-info-active);
	}
}

.markdown li:not(.toc li) {
	margin-bottom: var(--space-3xs);
}

.task-list-item:before {
	content: none !important;
}

.markdown ul {
	margin-bottom: var(--space-small);
}

.markdown ol li::before {
	content: none;
}

blockquote {
	background-color: var(--color-bg-elevated);

	padding: var(--space-xs);
	font-weight: var(--fontWeightXS);
	border-left: 4px solid var(--color-primary);
	margin-top: var(--space-small);
	margin-bottom: var(--space-small);
	max-width: var(--text-width);
}

blockquote p {
	margin: 0 !important;
	color: var(--color-primary) !important;
}

pre {
	padding: var(--space-small);
	border-radius: var(--border-radius-light);
	overflow: scroll;
}

table {
	border-collapse: collapse;
	background-color: var(--color-bg-container);
	padding: var(--space-small);

	max-width: fit-content;
	overflow: auto;
	border-radius: var(--border-radius-light);
	box-shadow: var(--boxShadow);
}

table tbody {
	max-width: var(--text-width);
}

table thead {
	display: none;
}

table td {
	padding: 1rem 1.5rem;
}

table td:first-child {
	font-weight: var(--fontWeightLarge);
}

aside.toc > nav > ul > li:before {
	content: none;
}

:where(aside.toc > button) {
	width: 40px;
	height: 40px;
}

.markdown img {
	display: block;
	max-width: 100%;

	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
}

.markdown img:hover {
	cursor: zoom-in;
}

:where(aside.toc > nav > ul > li) {
	color: var(--color-text-secondary);
	font-weight: var(--fontWeightXS);
}

aside.toc > nav {
	max-width: 240px;
}

p > code {
	background-color: #1e1e1e;
	padding: 4px 8px;
	margin: 4px;
}
