/* prism code highlighting theme */
@import url(prism.css);

.markdown {
	overflow-wrap: break-word;
	position: relative;
	counter-reset: h2-counter;
}

.markdown section {
	margin-top: var(--spaceL);
	margin-bottom: var(--spaceXL);
}

.markdown h1 {
	font-family: var(--fontFancy);
	font-size: var(--fontSize2XL);
	line-height: var(--lineHeight2XL);
	text-transform: capitalize;
	margin-bottom: var(--spaceM);
	color: var(--colorText);
	letter-spacing: var(--tracking-tight);
}

.markdown h2,
.markdown h3,
.markdown h4 {
	line-height: 120%;
	position: relative;
	color: var(--colorText);
	
}

.markdown h2:first-child {
	margin-top: 0 !important;
}

.markdown section:first-child {
	margin-top: 0 !important;
}

.markdown h2 {
	/* SPACING */
	margin-bottom: var(--spaceS);
	/* --- */

	/* FONT */
	font-family: var(--fontFancy);
	font-size: var(--fontSizeXL);
	line-height: var(--lineHeightLarge);
	color: var(--colorText);
	/* --- */

	padding-bottom: var(--space3XS);
	border-bottom: 4px solid transparent;
	border-image: linear-gradient(to right, var(--colorText), transparent) 1 0%;
}

.markdown h3 {
	/* SPACING */
	margin-top: var(--spaceL);
	margin-bottom: var(--spaceS);
	/* --- */

	/* FONT */
	font-weight: var(--fontWeightLarge);
	font-size: var(--fontSizeMid);
	line-height: var(--lineHeightMid);

	/* --- */

	border-bottom: 1px solid inherit;
}

.markdown h4 {
	/* SPACING */
	margin-top: var(--spaceM);
	margin-bottom: var(--spaceS);
	/* --- */

	/* FONT */
	font-weight: var(--fontWeightLarge);
	font-size: var(--fontSizeBase);
	line-height: var(--lineHeightBase);
	/* --- */
}

.markdown p,
.markdown li:not(.toc li) {
	color: var(--colorText);
	font-size: var(--fontSizeSmall);
	line-height: var(--lineHeightSmall);
	margin: 0;
	margin-bottom: var(--spaceS);
	max-width: var(--text-width);
}

.markdown ul {
	border-left: 4px solid transparent;
	border-image: linear-gradient(to bottom, var(--colorText), transparent) 1 1;
}

.markdown li:not(.toc li) {
	margin-bottom: 0;
	padding-left: 1ch;
	list-style-position: inside;
}

.markdown li::marker {
	content: counter(list-item) '. ';
	color: var(--colorText);
	font-size: inherit;
	font-weight: var(--fontWeightLarge);
}

.toc li::marker {
	content: none;
}

.markdown
	a:not(
		.toc a,
		.markdown h2 a,
		.markdown h3 a,
		.markdown h4 a,
		.markdown h5 a,
		.markdown a:has(img)
	) {
	color: var(--colorPrimary);
	text-decoration: underline;
	transition: var(--transition);
	/* text-decoration-skip-ink: none; */
}

/* .markdown a:hover {
	color: var(--colorPrimaryHover);
} */

.markdown li:not(.toc li) {
	margin-bottom: var(--space3XS);
}

.task-list-item:before {
	content: none !important;
}

.markdown ul {
	margin-bottom: var(--spaceS);
}

.markdown ol li::before {
	content: none;
}

blockquote {
	background-color: var(--colorBgElevated);

	padding: var(--spaceXS);
	font-weight: var(--fontWeightXS);
	border-left: 4px solid var(--colorPrimary);
	margin-top: var(--spaceS);
	margin-bottom: var(--spaceS);
	max-width: var(--text-width);
}

blockquote p {
	margin: 0 !important;
	color: var(--colorPrimary) !important;
}

pre {
	padding: var(--spaceS);
	border-radius: var(--borderRadiusLight);
	overflow: auto;
	max-width: var(--text-width);
}

table {
	border-collapse: collapse;
	background-color: var(--colorBgContainer);
	padding: var(--spaceS);

	max-width: fit-content;
	overflow: auto;
	border-radius: var(--borderRadiusLight);
	box-shadow: var(--boxShadow);
}

table tbody {
	max-width: var(--text-width);
}

table thead {
	display: none;
}

table td {
	padding: 1rem 1.5rem;
}

table td:first-child {
	font-weight: var(--fontWeightLarge);
}

aside.toc > nav > ul > li:before {
	content: none;
}

:where(aside.toc > button) {
	width: 40px;
	height: 40px;
}

.markdown img {
	display: block;
	max-width: 100%;

	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
}

.markdown img:hover {
	cursor: zoom-in;
}

:where(aside.toc > nav > ul > li) {
	color: var(--colorTextSecondary);
	font-weight: var(--fontWeightXS);
}

aside.toc > nav {
	max-width: 240px;
}

.markdown h2:hover::before,
.markdown h3:hover::before,
.markdown h4:hover::before {
	content: ' 🔗';
	position: absolute;
	left: -7%;

}

.icon-link:before {
	content: '# ';
	font-size: inherit;
	font-family: inherit;
}


